{% extends 'frontend/layout.html' %}
{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
          <h4>Recommend Book</h4>
          <a class="btn btn-primary">More</a>
        </div>
    </div>
    {% for item in bookList %}
    <div class="card mb-3 w-75" >
        <div class="row g-0">
            <div class="col-md-4">
                <img class="img-thumbnail" src="{{item.img}}" alt="{{item.img}}">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.createdAt}}</p>
                <p class="card-text"><small class="text-muted">Last updated:{{item.updatedAt}}</small></p>
                <a href="/section/{{item.id}}" class="btn btn-primary">Read</a>
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% include 'frontend/footer.html' %}
</div>
{% endblock %}