<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<!--     <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/pc/layout.css"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/pc/swiperloop.css">
    <title>{{title}}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a href="/" class="navbar-brand">
        <img src="/image/logo.png" class="img-thumbnail" alt="logo" width="40" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">Homepage</a>
          </li>
          <li class="nav-item">
            <a href="/book" class="nav-link">Books(notes)</a>
          </li>
          <li class="nav-item">
            <a href="/blog" class="nav-link">Blogs</a>
          </li>
          <li class="nav-item">
            <a href="/video" class="nav-link">Videos</a>
          </li>
          <li class="nav-item">
            <a href="/resource" class="nav-link">Resources</a>
          </li>
        </ul>
        <form action="/search" method="GET" class="d-flex">
          <input type="search" placeholder="search" name="searchkey" class="form-control me-3" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
      </div>
    <!--  <form action="/login" class="sigin" method="GET">
        <button type="submit" class="addShow btn btn-primary">Login</button>
    </form> -->
    </div>
  </nav>
</div>

{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}

</body>
</html>