<div class="col-12">
  <figure class="figure">
    <img src="/image/swiper/swiper2.jpg" class="figure-img img-fluid rounded" alt="swiper2.jpg">
    <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
  </figure>
  <div class="card" >
    <div class="card-header">
      <h4>Contact us
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="fw-bold">Address:</p>
        <p>123 Abc Street, Winnipeg, Manitoba</p>
      </li>
      <li class="list-group-item">
        <p class="fw-bold">Tel:</p>
        <p>111111</p>
      </li>
      <li class="list-group-item">
        <p class="fw-bold">Email:</p>
        <p>111@222.com</p>
      </li>
      <li class="list-group-item">
        <p class="fw-bold">Scan QR Code(Just for display):</p>
        <img src="/image/QRCode.png" alt="QRCode">
      </li>
    </ul>
  </div>
</div>